[defaults]
# Increase performance for many VMs
pipelining = True
# Path to your collections if not default
collections_path = ./collections

[inventory]
# 'auto' is the most important one here; it reads the 'plugin:' line in your YAML
enable_plugins = community.general.proxmox, auto, yaml, ini